erp-shelves/src/main/resources/api/KARNEL_MGMT_SYS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="KARNEL_MGMT_SYS" targetNamespace="http://karnel-sg.com/WS_M3_TO_CRM/KARNEL_MGMT_SYS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://karnel-sg.com/WS_M3_TO_CRM/KARNEL_MGMT_SYS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://karnel-sg.com/WS_M3_TO_CRM/KARNEL_MGMT_SYS">
      <xsd:element name="ListShelves">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="SHELF_ID" type="xsd:int" />
      			<xsd:element name="BEAN_ID" type="xsd:int"></xsd:element>
      			<xsd:element name="COMMAND" type="tns:enum"></xsd:element>
      			<xsd:element name="SOURCE" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ListShelvesResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="SHELF_ID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        
      <xsd:simpleType name="enum">
      	<xsd:restriction base="xsd:string">
             <xsd:enumeration value="X"/>
             <xsd:enumeration value="''"/>
      	</xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ListShelvesRequest">
    <wsdl:part element="tns:ListShelves" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ListShelvesResponse">
    <wsdl:part element="tns:ListShelvesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="KARNEL_MGMT_SYS">
    <wsdl:operation name="ListShelves">
      <wsdl:input message="tns:ListShelvesRequest"/>
      <wsdl:output message="tns:ListShelvesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KARNEL_MGMT_SYSSOAP" type="tns:KARNEL_MGMT_SYS">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="ListShelves">
  		<soap:operation
  			soapAction="http://karnel-sg.com/WS_M3_TO_CRM/KARNEL_MGMT_SYS/ListShelves" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KARNEL_MGMT_SYS">
    <wsdl:port binding="tns:KARNEL_MGMT_SYSSOAP" name="KARNEL_MGMT_SYSSOAP">
      <soap:address location="http://karnel-sg.com/WS_M3_TO_CRM/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
