erp-shelves/src/main/resources/api/karnel_shelves.wsdl

<?xml version="1.0"?>

<wsdl:definitions name="KarnelService" targetNamespace="http://karnel-sg.com/WS_M3_TO_CRM/KARNEL_MGMT_SYS"
    xmlns:ms="http://karnel-sg.com/WS_M3_TO_CRM/KARNEL_MGMT_SYS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>

        <xsd:schema targetNamespace="http://karnel-sg.com/WS_M3_TO_CRM/KARNEL_MGMT_SYS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="ListShelves">
                <xsd:complexType>
                    <xsd:sequence>
                     	<xsd:element name="SHELF_ID" type="xsd:string"/>
                    	<xsd:element name="BEAN_ID" type="xsd:integer" />
                        <xsd:element name="COMMAND" type="ms:valuesType" />
                        <xsd:element name="SOURCE" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
                <xsd:simpleType name="valuesType">
                	<xsd:restriction base="xsd:string">
                    	<xsd:enumeration value="X"/>
                    	<xsd:enumeration value="''"/>
                	</xsd:restriction>
            	</xsd:simpleType>

            <xsd:element name="ListShelvesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SHELF_ID" type="ms:Shelves"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="AuthenticationHeader">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="apiKey" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="APIUsageInformation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="apiCallsRemaining" type="xsd:integer" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ShelfFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="errorrStuff" type="xsd:integer" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ListShelves">
        <wsdl:part name="body" element="ms:ListShelves" />
    </wsdl:message>

    <wsdl:message name="ListShelvesResponse">
        <wsdl:part name="body" element="ms:ListShelvesResponse" />
    </wsdl:message>

    <wsdl:message name="ShelfFault">
        <wsdl:part name="fault" element="ms:ShelfFault" />
    </wsdl:message>

    <wsdl:message name="APIUsageInformation">
        <wsdl:part name="header" element="ms:APIUsageInformation" />
    </wsdl:message>

    <wsdl:message name="AuthenticationHeader">
        <wsdl:part name="header" element="ms:AuthenticationHeader" />
    </wsdl:message>

    <!-- wsdl:portType describes messages in an operation -->
    <wsdl:portType name="TshirtServicePortType">


        <wsdl:operation name="ListShelves">
            <wsdl:input message="ms:ListShelves" />
            <wsdl:output message="ms:ListShelvesResponse" />
            <wsdl:fault name="ShelfFault" message="ms:ShelfFault" />
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="KarnelServiceSoapBinding" type="ms:KarnelServicePortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="ListShelves">
             <soap:operation soapAction="http://karnel-sg.com/WS_M3_TO_CRM/KARNEL_MGMT_SYS" />

            <wsdl:input>
                <soap:body use="literal" namespace="http://karnel-sg.com/WS_M3_TO_CRM" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://karnel-sg.com/WS_M3_TO_CRM" />
            </wsdl:output>
            <wsdl:fault name="ShelfFault">
                <soap:body use="literal" namespace="http://karnel-sg.com/WS_M3_TO_CRM" />
            </wsdl:fault>
        </wsdl:operation>
        
    </wsdl:binding>

    <wsdl:service name="KarnelService">
        <wsdl:documentation></wsdl:documentation>

        <!-- connect it to the binding "EndorsementSearchSoapBinding" above -->
        <wsdl:port name="KarnelServicePort" binding="ms:KarnelServiceSoapBinding">

            <!-- give the binding an network address -->
            <soap:address location="http://localhost:8081/karnelService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
